<!-- Modal -->
<!--
<div class="modal fade show" #myModal tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Food Cart</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <p>Please add food to cart before proceeding.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
-->
<div class="container rounded">
    <div class="row">
        <div class="col-12">
            <app-food-item *ngFor='let foodaya of listOfFood' [foodItem]="foodaya"></app-food-item>
        </div>
    </div>
</div>

<div class="fixed-bottom">

    <button class="btn-lg btn-dark btn-block" aria-disabled="true" [ngClass]="{'disabled': checkOrder() }" (click)="proceedToCheckOut()">
        View Cart
    </button>

</div>